.container {
  max-width: 1120px;
  width: 100%;
  margin: 5rem auto 0;
  padding: 2rem;
  background: var(--white);
  border-radius: 8px;
}

.content {
  border: 2px dashed #ddd;
  border-radius: 8px;
  cursor: pointer;
}

.text__error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  color: var(--red-500);
}

.text__default {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  color: #999;

}

.text__success {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  color: var(--blue-500);
}
