.container {
  background: var(--white);
  height: 5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  nav {
    a {
      transition: color 0.2s;
      font-weight: 500;
      
      & + a {
        margin-left: 5rem;
      }
      
      &:hover {
        color: var(--blue-500);
      }
    }
  }
}